!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
  %body
    %p Your fridge is up at #{link_to fridge_key_url(@fridge), fridge_key_url(@fridge)}.
    %p Happy eating!
