%p Your fridge is up at #{link_to fridge_key_url(@fridge.key), fridge_key_url(@fridge.key)}.
%p What's that on the top shelf?  
%p Share the link with your friends, then visit the site to discuss your fridge!  