%p Your fridge is up at #{link_to fridge_key_url(@fridge.key), fridge_key_url(@fridge.key)}.
%p What's that on the top shelf?  
%p Share the link with your friends, then visit the site to discuss your fridge!  
%p
%p thanks,
%p CheckOutMyFridge.com
%p (2407 Harrison St #4, San Francisco CA 94110)
%p
%p p.s. What do you think of the website?  Send us feedback by replying to this email.