%table
  - @fridges.each do |fridge|
    %tr
      %td= link_to image_tag(fridge.photo.url(:thumb)), fridge
      %td= link_to fridge.name, fridge
      %td= fridge.description
      %td= link_to 'Delete', fridge, :method => :delete

