* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
	font-family: 'Lucida Grande', verdana, sans-serif;
}

p {
  margin: 6px 0;
}

h1 { font-size: 45px;  font-weight: normal;  margin: 0; font-family: courier; line-height: 1em; text-decoration:none;}
h2 { font-size: 20px;  margin: 0 0 5px;  font-weight: bold; line-height: 1em;}
h3 { font-size: 20px;  margin: 10px 0; font-weight: normal; }
h4 { font-size: 14px; color: #333; margin: 0 0 5px; font-weight: normal; }
h5 { font-size: 14px; font-family: courier; margin: 0; font-weight: normal;}
h6 { font-size: 11px; margin: 0; line-height: 1.1em;}

a {  color: #000099;}
.no_underline { text-decoration: none; }
em { font-weight: bold; font-style: normal;}
hr { margin: 10px 0; color: #ccc;}

th, td {
  padding: 4px;
}

th {
  background-color: #eee;
}

label { display: block }
.field { margin: 20px 0 }

.check, .out, .my, .fridge, .whats {
  color: #000;
  background: #EFF4F8;
  border: 1px solid #ccc;
  padding: 0 10px 5px;
  margin: 0 4px 3px 0;
  float: left;
  /* drop-shadow */
  -moz-box-shadow: 1px 1px 2px #999;
  -webkit-box-shadow: 1px 1px 2px #999;
  box-shadow: 1px 1px 2px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=301, Color='#999')";  /* For IE 8 */
}

#background {
  background-image: url('/images/bg.png');
  min-height: 100%;
}

#header .out { margin-top: 3px;}
#header .my {  margin-top: -1px;}
#header .fridge { margin-top: 2px;}
#header .whats { padding-bottom: 0; margin-top: 3px;}

#header {
  background-color: white;
  float: left;
}

#header, #main_content {
  /* drop-shadow */
  -moz-box-shadow: 0 0 7px #555;
  -webkit-box-shadow: 0 0 7px #555;
  box-shadow: 0 0 7px #555;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color='#555')";  /* For IE 8 */
}

#nav_bar, #promo_bar {
  float: left;
  margin-bottom: 10px;
  background: #d1e6f6; /* for non-css3 browsers */
  background-image: url('../images/top-shadow.png');
  background-repeat: repeat-x;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e3e3e3;
}

#main_content {
  background-color: white;
  float: left;
}

#flash {
  background-color: #ffffcc;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

#footer {
  text-align: center;
  margin: 10px 0 30px 0;
}

#upload {
}

#sharelink {
  float: left;
  font-size: 11px; 
  margin: 0; 
}

#sharethis {
  float: left;
  margin: -3px 0 0 10px;
}

/** Hide the default image-annotate add button **/
#image-annotate-add {
  display: none;
}

.image-annotate-add {
  background-color: #ffffcc;
  padding: 4px 12px;
  border: 1px solid #ccc;
}

.note_detail {
  clear: both;
  margin: 10px 0;
  padding: 6px;
  background-color: #EFF4F8;
}
.note_image, .note {
  float: left;
  margin-right: 6px;
}

.note_image {
  margin-top: 3px;
}


#feedback {
  left: 0;
  position: fixed;
  top: 200px;
  z-index: 5;
}

.user_photo {
  float: left;
  margin-right: 10px;
}

#nameband {
  margin-top: 5px;
  margin-bottom: 15px;
}

#header, #main_content, #nav_bar, #footer, #promo_bar { 
  width: 980px;
  padding: 10px;
  }
  
.italic {
  font-style: italic;
}

#loading {
  background-color: #fff;
  border: 1px solid #eee;
  filter:alpha(opacity=80);
  opacity:0.9;
  display: none;
  position: absolute;
  top: 100px;
  left: 200px;
  text-align: center;
  padding: 40px;
}

#loading img {
  margin: 40px 0;
}