body {
	font-family: Lucida Grande, verdana, sans-serif;
	margin: 0px;
}

h1 { font-size: 50px;  font-weight: normal;  margin: 5px 0; }
h2 { font-size: 20px;  margin: 5px 0;  font-weight: bold; }
h3 { font-size: 20px;  margin: 5px 0; font-weight: normal; }
h4 { font-size: 14px; color: #333; margin: 5px 0; font-weight: normal; }

a {  color: #339900; }
em { font-weight: bold; font-style: normal;}

#page_container {
  width: 1150px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 10px 0px;
  margin: 0px 0px 50px;
  background: #ccc; /* for non-css3 browsers */

  /* gradient */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#cccccc'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#ccc)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #e3e3e3,  #ccc); /* for firefox 3.6+ */

  /* drop-shadow */
  -moz-box-shadow: 0px 3px 2px #999;
  -webkit-box-shadow: 0px 3px 2px #999;
  box-shadow: 0px 3px 2px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=270, Color='#999')";  /* For IE 8 */
}

#upload {
  margin-top: 20px;
  background: url('../images/upload_icon.png') no-repeat 0 0;
  padding-left: 65px;
}

.note_detail {
  clear: both;
  margin: 10px 0;
  padding: 6px;
  background-color: #eee;
}
.note_image, .note {
  float: left;
  margin-right: 4px;
}