- content_for :subnav do
  = # link_to "#{Fridge.count} fridge pics", fridge_path(Fridge.any)

.grid_8.alpha
  %h2 Thanks for stopping by!
  %h4 CheckOutMyFridge was put together in October, 2010 by two guys in San Francisco who care about food and cooking.  You can contact them by sending an email to hello [at] frdg.us.
  %br
  %h4 Our refrigerators hold the answers to some very important questions&hellip; what foods do you love?  What do you keep stocked, and what do you buy fresh?  What do you do with leftovers?  How do you organize your food?  How do you decide what to eat for dinner?  And what the hell is <em>that</em> on the second shelf, behind the yogurt?
  %br
  %h4 CheckOutMyfridge is the place to show off your best practices, favorite foods, and kitchen secrets&hellip; because you are what you refrigerate.

.grid_4.omega